/* Stylesheet by Meiliu Wu, 2019 */
h3 {
    margin: 15px;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.navbar-brand{
    margin:0;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #00FFFF;
}

.navbar-text{
    color: white;
    font-size: 25px;
    padding: 4px;
	font-family: verdana;
    border: 3px solid white;
    background-color: darkblue;
    text-align:center;
}

#queryPanel {
    margin:0;
    height: 600px;
    width: 18%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    font-family: verdana;
    text-align:left;
    line-height: 15px;
    background-color: lightblue;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 15px;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 5px;
    font-size: 16px;
}
input[type=text] {
    background-color: #fff;
    width: 250px;
}
input[type=text]:enabled {
  background: #fff;
}

input[type=text]:disabled {
  background: #dddddd;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    font-size: 12px;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 260px;
}
.autocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*.container span {
    margin: 1px;
}*/

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


section.range-slider {
    position: relative;
    width: 250px;
    height: 35px;
    text-align: center;
}
section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 250px;
    outline: none;
    height: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}



.btn {
    border: none;
    background-color: lightcyan;
    padding: 7px 14px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}
/* Blue */
.apply {
  color: dodgerblue;
}

.apply:hover {
  background: #2196F3;
  color: white;
}
/* Red */
.clear {
  color: red;
}

.clear:hover {
  background: #f44336;
  color: white;
}

#mapid {
    margin: 0;
    position: relative;
    height: 640px;
    width: 57%;
    display: inline-block;
}

#infoPanel {
    margin: 0;
    position: relative;
    height: 600px;
    width: 19%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    font-family: verdana;
    text-align:left;
    line-height: 15px;
    background-color: lightblue;
}
